*{
    font-family:'Helvetica',Arial, sans-serif;
    font-weight: 700;
}
.top_nav{
    width: 100%;
    height:60px;
    background-color:#C1D2DD; 
    position: relative;   
}
.navBtn{
    width:65px;
    height: 40px;
    background-color:#CED9DC ;
    position:relative;
    right:10%;
    top:3px;
    border-radius: 10px;
    border-color: #D7B98E;
    font-size: 25px;
    color:#6E552F;
}
.navBtn:hover{
    background-color:#5ACCE1;
}
.slide_nav{
    width: 100%;
    height: 70px;
    background-color:#C1D2DD ;
    display: none;
}
.dash_btn{
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    font-family: Comic Sans MS;
    position:relative;
    right: 15%;
    color:#6E552F;
    background-color:#dce6ec ;
    border-color: #D7B98E;
}
.dash_btn:hover{
    background-color:#5ACCE1;
}
.a_text{
    display: flex;
    flex-direction: column;
}
.a_tag{
    text-decoration: none;
    margin-top: 44px;
    font-size: 20px;
    color:#43341B;
    font-weight: 600;
}
.a_tag:hover{
    color:#66BAB7;
}
.offcanvas{
    width:290px !important;
}
.main_control{
    width: 100%;
    height: 80vh;
    margin-top: 35px;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 1000px;
    height: 685px;
    background-color:#e5f6fa;
    border-style:outset;
    border-width: 5px;
    border-radius: 10px;
}
.logout{
    border-radius: 20px;
    font-family: "Trebuchet MS";
    font-size: 20px;
    color: #211E55;
    border-color: bisque;
}
.logout:hover{
    color:#D0104C;
}
.main_top{
    width: 100%;
    height: 70px;
    /* background-color: lightsalmon; */
    /* background-color: #B6D2E0; */
    background-color:#8FA5B0;
}
.man{
    position: relative;
    width: 66px;
    height: 58px;
    left: 1%;
    margin: 0;
}
.relative{
    /* background-color: lightsalmon; */
    /* position: relative; */
    height: 40px;
    width: 300px;
    top:4px;
    position: absolute;
    right: 1%;
}
.modal_acc{
    position: relative;
    width: 100%;
    z-index: 100;
    background-color: lightgreen;
}
#cover{
    width: 30%;
    height:380px;
    top:240px;
    left:33.3%;
    background-color: rgba(184, 182, 182, 0.5);
    border-radius: 10px;
    position: absolute;    
    box-shadow: 0px 0px 10px #BFC6C7;
    backdrop-filter: blur(4px);
}

#coverr{
    width: 100px;
    height: 200px;
    /* background-color: lightcoral; */
}
.bottom_btn{
    width: 50%;
    margin-left: 250px;
    display: flex;
    justify-content: space-evenly;
}
.btn_flex{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    
}
.add{
    width: 99%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: lightseagreen; */
}
.add_btn{
    border-radius: 10px;
    background-color: #7D6C46;    
}
.add_btn:hover{
    background-color: #dfe3e4;
}
.modify{
    background-color:#58B2DC ;
}   
.reset_btn{
    background-color:#ED9572 ;
} 
.modify:hover,.reset_btn:hover{
    color: white;
    font-weight: 700;
}
.pic_res{
    background-color: #66BAB7;
    border-radius: 5px;
}
.pic_res:hover{
    color:#FCFCFC;
    font-weight: 700;
}
.one{
    margin-top: 8px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #D0104C; */
}

    

    
 